
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478329732714'); /* IE9*/
  src: url('iconfont.eot?t=1478329732714#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478329732714') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478329732714') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478329732714#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.qq:before { content: "\e648"; }

.qq1:before { content: "\e67f"; }

.email:before { content: "\e627"; }

.email1:before { content: "\e624"; }

.qq1:before { content: "\e8b1"; }

.github:before { content: "\e709"; }

.erweima:before { content: "\e642"; }

.jushoucang:before { content: "\e643"; }

.lajixiang:before { content: "\e645"; }

.lianjie:before { content: "\e646"; }

.shouye:before { content: "\e64f"; }

.sousuo:before { content: "\e651"; }

.xiafan:before { content: "\e65b"; }

.xiangshangjiantou:before { content: "\e65d"; }

.xiangxiajiantou:before { content: "\e65e"; }

.xiangyoujiantou:before { content: "\e65f"; }

.xiangzuojiantou:before { content: "\e660"; }

.yijianfankui:before { content: "\e662"; }

.jushoucanggift:before { content: "\e684"; }

.sina:before { content: "\e614"; }

