<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="__STATIC__/css/style.css">
	<link rel="stylesheet" href="__STATIC__/assets02/css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css" media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets02/css/bootstrap.min.css"  media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets02/css/bootstrap-theme.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets02/css/iconfont.css" media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets/css/documenter_style.css" media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets/css/main.css" media="screen" title="no title">
    <link rel="stylesheet" href="__STATIC__/assets/css/codemirror.css">
    
    <script src="__STATIC__/assets02/js/jquery.js"></script>
    
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/assets02/js/bootstrap.min.js"></script>
    <script src="__STATIC__/assets02/js/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="__STATIC__/assets/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/init.js"></script>
</head>
<body>